doctype html
html(lang="en")
  head
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")
    title 苏州兴万佳厂房网
  body
    .c-news
      p 提交成功！
      a(href="/main") 返回首页